.btn-group {
  margin: -46px 0 0 1300px;
}
.btn-group button {color: blue;
  padding-left: 2px;
 background-color: GhostWhite;
border-style: none;}

.btn-group button:hover {
  color: Purple;
  text-decoration: underline;
}
#version {margin: -15px 0 0 1230px;}
#shopName1 {margin: -10px 0px 0px 5px; width: fit-content;}
#shopName2 {margin: -10px 0px 0px 50px;  width: fit-content;}
hr.end {margin-top: 6px;}
hr.hr3end {margin-top: 28px;}
.rsidebtns {margin: 15px 0 0 1234px;}
.rsidebtns button {background-color: white;
border: 2px solid #e7e7e7;}
.btnregi {margin-left: 11px;}
.rsidebtns button:hover {background-color: #e7e7e7;
border: 2px solid #696969;
}

header {background-color: GhostWhite;}